html, body { overflow: hidden; }

body { font-family: 'Roboto', 'sans-serif'; }

.hidden { display: none; }

.title { font-size: 64px; color: #FFFFFF; text-align: center; }

.subtitle { font-size: 24px; color: #FFFFFF; line-height: 36px; }

.q-num { font-size: 64px; color: #FF3C82; }

.question-text { font-size: 36px; color: #FFFFFF; line-height: 48px; margin-bottom: 10px; }

.question-guide { font-size: 24px; color: #0027C8; line-height: 36px; margin-bottom: 20px; }

.answer { font-size: 20px; color: #FFFFFF; text-align: center; line-height: 36px; border: 2px solid #FFFFFF; border-radius: 30.5px; padding: 10px; margin-bottom: 15px; white-space: nowrap; cursor: pointer; }

.answer:hover, .answer:active { color: #1469FF; background-color: #fff; }

@-webkit-keyframes rotate { 0% { -webkit-transform: rotateZ(0); transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); } }

@keyframes rotate { 0% { -webkit-transform: rotateZ(0); transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); } }

@-webkit-keyframes rotate-counter { 0% { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
  100% { -webkit-transform: rotateZ(0); transform: rotateZ(0); } }

@keyframes rotate-counter { 0% { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
  100% { -webkit-transform: rotateZ(0); transform: rotateZ(0); } }

@-webkit-keyframes fadein { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadein { 0% { opacity: 0; }
  100% { opacity: 1; } }

.home { width: 100vw; height: 100vh; position: relative; overflow: hidden; background-color: #1469FF; }

.home .text { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; white-space: nowrap; -webkit-animation: home-text 1s ease-in 4s 1; animation: home-text 1s ease-in 4s 1; }

.home .star { width: 0; height: 0; border-style: solid; border-width: 0 182.5px 313px 182.5px; border-color: transparent transparent #FF3C82 transparent; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-animation: home-star 5s ease-out; animation: home-star 5s ease-out; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; }

.home .star::after { position: absolute; content: ""; width: 0; height: 0; border-style: solid; border-width: 0 182.5px 313px 182.5px; border-color: transparent transparent #FF3C82 transparent; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-transform: rotate(180deg) translate(50%, -15%); transform: rotate(180deg) translate(50%, -15%); }

.home .circle { border-radius: 50%; width: 534px; height: 534px; background-color: #0027C8; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-animation: home-circle 5s ease-out; animation: home-circle 5s ease-out; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; }

.home .square { width: 450px; height: 450px; background-color: #000; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-animation: home-square 5s ease-out; animation: home-square 5s ease-out; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; }

@-webkit-keyframes home-star { 0% { -webkit-transform: translate(-50%, -50%) rotateZ(0deg); transform: translate(-50%, -50%) rotateZ(0deg); }
  62% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg); transform: translate(-50%, -50%) rotateZ(360deg); }
  74% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg) scale(1); transform: translate(-50%, -50%) rotateZ(360deg) scale(1); }
  86% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg) scale(7); transform: translate(-50%, -50%) rotateZ(360deg) scale(7); }
  95% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg) scale(7); transform: translate(-50%, -50%) rotateZ(360deg) scale(7);
    opacity: 1; }
  100% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg) scale(7); transform: translate(-50%, -50%) rotateZ(360deg) scale(7);
    opacity: 0; } }

@keyframes home-star { 0% { -webkit-transform: translate(-50%, -50%) rotateZ(0deg); transform: translate(-50%, -50%) rotateZ(0deg); }
  62% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg); transform: translate(-50%, -50%) rotateZ(360deg); }
  74% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg) scale(1); transform: translate(-50%, -50%) rotateZ(360deg) scale(1); }
  86% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg) scale(7); transform: translate(-50%, -50%) rotateZ(360deg) scale(7); }
  95% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg) scale(7); transform: translate(-50%, -50%) rotateZ(360deg) scale(7);
    opacity: 1; }
  100% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg) scale(7); transform: translate(-50%, -50%) rotateZ(360deg) scale(7);
    opacity: 0; } }

@-webkit-keyframes home-circle { 0% { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }
  20% { -webkit-transform: translate(-50%, -50%) scale(1.1); transform: translate(-50%, -50%) scale(1.1); }
  50% { -webkit-transform: translate(-50%, -50%) scale(0.9); transform: translate(-50%, -50%) scale(0.9); }
  62% { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }
  74% { -webkit-transform: translate(-50%, -50%) scale(7); transform: translate(-50%, -50%) scale(7); }
  100% { -webkit-transform: translate(-50%, -50%) scale(7); transform: translate(-50%, -50%) scale(7); } }

@keyframes home-circle { 0% { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }
  20% { -webkit-transform: translate(-50%, -50%) scale(1.1); transform: translate(-50%, -50%) scale(1.1); }
  50% { -webkit-transform: translate(-50%, -50%) scale(0.9); transform: translate(-50%, -50%) scale(0.9); }
  62% { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }
  74% { -webkit-transform: translate(-50%, -50%) scale(7); transform: translate(-50%, -50%) scale(7); }
  100% { -webkit-transform: translate(-50%, -50%) scale(7); transform: translate(-50%, -50%) scale(7); } }

@-webkit-keyframes home-square { 0% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg); transform: translate(-50%, -50%) rotateZ(360deg); }
  50% { -webkit-transform: translate(-50%, -50%) rotateZ(0deg); transform: translate(-50%, -50%) rotateZ(0deg); }
  62% { -webkit-transform: translate(-50%, -50%) rotateZ(0deg) scale(7); transform: translate(-50%, -50%) rotateZ(0deg) scale(7); }
  100% { -webkit-transform: translate(-50%, -50%) rotateZ(0deg) scale(7); transform: translate(-50%, -50%) rotateZ(0deg) scale(7); } }

@keyframes home-square { 0% { -webkit-transform: translate(-50%, -50%) rotateZ(360deg); transform: translate(-50%, -50%) rotateZ(360deg); }
  50% { -webkit-transform: translate(-50%, -50%) rotateZ(0deg); transform: translate(-50%, -50%) rotateZ(0deg); }
  62% { -webkit-transform: translate(-50%, -50%) rotateZ(0deg) scale(7); transform: translate(-50%, -50%) rotateZ(0deg) scale(7); }
  100% { -webkit-transform: translate(-50%, -50%) rotateZ(0deg) scale(7); transform: translate(-50%, -50%) rotateZ(0deg) scale(7); } }

@-webkit-keyframes home-text { 0% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes home-text { 0% { opacity: 1; }
  100% { opacity: 0; } }

.question1 { width: 100vw; height: 100vh; position: relative; overflow: hidden; background-color: #1469FF; }

.question1 .main { padding: 80px 45vw 80px 12vw; -webkit-animation: fadein .6s ease-in; animation: fadein .6s ease-in; z-index: 1; }

.question1 .sidebar { background-color: #0027C8; position: absolute; right: 0; top: 0; height: 100vh; width: 40vw; opacity: 0; -webkit-transform: translateX(100%); transform: translateX(100%); -webkit-transition: all .7s; transition: all .7s; z-index: 10; }

.question1 .sidebar.is-out { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }

.question1 .sidebar.is-full { width: 100vw; }

.question1 .square { width: 179px; height: 179px; background-color: #FF3C82; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; position: absolute; top: 80px; left: 80px; -webkit-transition: top 1s; transition: top 1s; -webkit-animation: rotate 5s linear 4s infinite; animation: rotate 5s linear 4s infinite; }

.question1 .triangle { width: 0; height: 0; border-style: solid; border-width: 0 73.5px 127px 73.5px; border-color: transparent transparent #fff transparent; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; position: absolute; top: 40vh; right: -15px; -webkit-transition: top 1s; transition: top 1s; -webkit-animation: rotate-counter 5s linear 4s infinite; animation: rotate-counter 5s linear 4s infinite; }

.question1 .circle { border-radius: 50%; width: 402px; height: 402px; background-color: #000; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; position: absolute; top: 70vh; right: -30px; -webkit-transition: top 1s; transition: top 1s; }

.question1 .hide-child .square, .question1 .hide-child .triangle, .question1 .hide-child .circle { top: 100vh; }
